/* /Layout/MainLayout.razor.rz.scp.css */
.page[b-1vesodkmua] {
    position: relative;
    display: flex;
    flex-direction: column;
}

main[b-1vesodkmua] {
    flex: 1;
}

.sidebar[b-1vesodkmua] {
    background-image: linear-gradient(180deg, rgb(5, 39, 103) 0%, #3a0647 70%);
}

.top-row[b-1vesodkmua] {
    background-color: #f7f7f7;
    border-bottom: 1px solid #d6d5d5;
    justify-content: flex-end;
    height: 3.5rem;
    display: flex;
    align-items: center;
}

    .top-row[b-1vesodkmua]  a, .top-row[b-1vesodkmua]  .btn-link {
        white-space: nowrap;
        margin-left: 1.5rem;
        text-decoration: none;
    }

    .top-row[b-1vesodkmua]  a:hover, .top-row[b-1vesodkmua]  .btn-link:hover {
        text-decoration: underline;
    }

    .top-row[b-1vesodkmua]  a:first-child {
        overflow: hidden;
        text-overflow: ellipsis;
    }

@media (max-width: 640.98px) {
    .top-row[b-1vesodkmua] {
        justify-content: space-between;
    }

    .top-row[b-1vesodkmua]  a, .top-row[b-1vesodkmua]  .btn-link {
        margin-left: 0;
    }
}

@media (min-width: 641px) {
    .page[b-1vesodkmua] {
        flex-direction: row;
    }

    .sidebar[b-1vesodkmua] {
        width: 250px;
        height: 100vh;
        position: sticky;
        top: 0;
    }

    .top-row[b-1vesodkmua] {
        position: sticky;
        top: 0;
        z-index: 1;
    }

    .top-row.auth[b-1vesodkmua]  a:first-child {
        flex: 1;
        text-align: right;
        width: 0;
    }

    .top-row[b-1vesodkmua], article[b-1vesodkmua] {
        padding-left: 2rem !important;
        padding-right: 1.5rem !important;
    }
}
/* /Layout/NavMenu.razor.rz.scp.css */
.navbar-toggler[b-byipfiwfco] {
    background-color: rgba(255, 255, 255, 0.1);
}

.top-row[b-byipfiwfco] {
    min-height: 3.5rem;
    background-color: rgba(0,0,0,0.4);
}

.navbar-brand[b-byipfiwfco] {
    font-size: 1.1rem;
}

.bi[b-byipfiwfco] {
    display: inline-block;
    position: relative;
    width: 1.25rem;
    height: 1.25rem;
    margin-right: 0.75rem;
    top: -1px;
    background-size: cover;
}

.bi-house-door-fill-nav-menu[b-byipfiwfco] {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' fill='white' class='bi bi-house-door-fill' viewBox='0 0 16 16'%3E%3Cpath d='M6.5 14.5v-3.505c0-.245.25-.495.5-.495h2c.25 0 .5.25.5.5v3.5a.5.5 0 0 0 .5.5h4a.5.5 0 0 0 .5-.5v-7a.5.5 0 0 0-.146-.354L13 5.793V2.5a.5.5 0 0 0-.5-.5h-1a.5.5 0 0 0-.5.5v1.293L8.354 1.146a.5.5 0 0 0-.708 0l-6 6A.5.5 0 0 0 1.5 7.5v7a.5.5 0 0 0 .5.5h4a.5.5 0 0 0 .5-.5Z'/%3E%3C/svg%3E");
}

.bi-plus-square-fill-nav-menu[b-byipfiwfco] {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' fill='white' class='bi bi-plus-square-fill' viewBox='0 0 16 16'%3E%3Cpath d='M2 0a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2H2zm6.5 4.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3a.5.5 0 0 1 1 0z'/%3E%3C/svg%3E");
}

.bi-list-nested-nav-menu[b-byipfiwfco] {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' fill='white' class='bi bi-list-nested' viewBox='0 0 16 16'%3E%3Cpath fill-rule='evenodd' d='M4.5 11.5A.5.5 0 0 1 5 11h10a.5.5 0 0 1 0 1H5a.5.5 0 0 1-.5-.5zm-2-4A.5.5 0 0 1 3 7h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5zm-2-4A.5.5 0 0 1 1 3h10a.5.5 0 0 1 0 1H1a.5.5 0 0 1-.5-.5z'/%3E%3C/svg%3E");
}

.nav-item[b-byipfiwfco] {
    font-size: 0.9rem;
    padding-bottom: 0.5rem;
}

    .nav-item:first-of-type[b-byipfiwfco] {
        padding-top: 1rem;
    }

    .nav-item:last-of-type[b-byipfiwfco] {
        padding-bottom: 1rem;
    }

    .nav-item[b-byipfiwfco]  a {
        color: #d7d7d7;
        border-radius: 4px;
        height: 3rem;
        display: flex;
        align-items: center;
        line-height: 3rem;
    }

.nav-item[b-byipfiwfco]  a.active {
    background-color: rgba(255,255,255,0.37);
    color: white;
}

.nav-item[b-byipfiwfco]  a:hover {
    background-color: rgba(255,255,255,0.1);
    color: white;
}

@media (min-width: 641px) {
    .navbar-toggler[b-byipfiwfco] {
        display: none;
    }

    .collapse[b-byipfiwfco] {
        /* Never collapse the sidebar for wide screens */
        display: block;
    }

    .nav-scrollable[b-byipfiwfco] {
        /* Allow sidebar to scroll for tall menus */
        height: calc(100vh - 3.5rem);
        overflow-y: auto;
    }
}
/* /Pages/MinesweeperComponent.razor.rz.scp.css */
.FieldButton[b-6j6mc7g3pj] {
    display: inline-block;
    width: 100%;
    height: 100%;
    border: none;
}
.GameBoard[b-6j6mc7g3pj] {
    gap: 0 !important;
    height: 100%;
}
.GridColumn[b-6j6mc7g3pj] {
    padding: 0 !important;
}
.GridRow[b-6j6mc7g3pj] {
    
}
#SelectDifficultyContainer[b-6j6mc7g3pj] {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 10%;
}
.SelectDifficultyBtn[b-6j6mc7g3pj] {
    width: 30%;
    height: 50px;
    margin: 5px;
    font-size: 1.6em;
    font-family: 'Jersey 20';
    color: white;
    background-color: #60f549;
    border-radius: 10px;
    border: solid 5px #3c992e;
    transition: background-color 0.5s ease, border 0.5s ease;
}
    .SelectDifficultyBtn:hover[b-6j6mc7g3pj] {
        background-color: #83fa70;
        border: solid 5px #358729;
    }
#SelectDifficultyTitle[b-6j6mc7g3pj] {
    font-family: 'Jersey 20';
    font-size: 3.7em;
    color: #3c992e;
    margin-bottom: 20px;
}
.GameBoard[b-6j6mc7g3pj] {
    margin-top: 4.5%;
    padding-left: 8%;
    padding-right: 8%;
}
#KotleciakHeadline[b-6j6mc7g3pj] {
    font-family: 'Jersey 20';
    font-size: 5.2em;
    color: white;
    text-align: center;
    margin-top: 20px;
}
#GameInfo[b-6j6mc7g3pj] {
    position: absolute;
    left: 50%;
    bottom: 20px;
    transform: translateX(-50%);
    max-width: fit-content;
    border: solid 2px #eef5ed;
    background-color: #064f01;
    border-radius: 10px;
    padding-left: 10%;
    padding-right: 10%;
    white-space: nowrap;
}
.MouseImage[b-6j6mc7g3pj] {
    height: 40px;
    width: 40px;
    display: inline-block;
}
.MouseText[b-6j6mc7g3pj] {
    font-family: 'Jersey 20';
    font-size: 1.5em;
    color: white;
}
#HelpButton[b-6j6mc7g3pj] {
    position: absolute;
    top: 20px;
    right: 20px;
    background-color: #064f01;
    color: white;
    border: none;
    border-radius: 50%;
    font-size: 1.2em;
    cursor: pointer;
    width: 30px;
    height: 30px;
    text-align: center;
    vertical-align: middle;
    padding-top: 2.4px;
    text-decoration: none;
}
#HelpButton:visited[b-6j6mc7g3pj]{
    color: white;
}
    #HelpButton:hover[b-6j6mc7g3pj] {
        color: white;
        background-color: #043801;
    }
